<template>
    <f7-page>
        <header-section></header-section>
        <f7-block class="news_borbot">
           <h2>News</h2>
           <h4>Today's Special</h4>
           <div class="new_img_cover" style="background-image: url(https://cdn.framework7.io/placeholder/nature-1000x700-8.jpg)" ></div>
           <div class="news_borbot_avtor">
               <div class="news_borbot_avtor_1">
                    <div class="news_borbot_avtor_1_lef">
                        <div class="news_borbot_avtor_imhleft" style="background-image: url(https://cdn.framework7.io/placeholder/nature-1000x700-8.jpg)"></div>
                        <div class="news_borbot_avtor_1_content">
                            <h5 class="news_margin_none">Komori Fox</h5>
                            <h6 class="news_margin_none">Books, books, and books</h6>
                        </div>
                   </div>
                    <f7-button fill round class="">Round</f7-button>
               </div>
           </div>
        </f7-block>
        <f7-block class="news_borbot">
            <h4>Popular</h4>
            <div class="news_borbot_avtor">
                <div class="news_borbot_avtor_1">
                        <div class="news_borbot_avtor_1_lef">
                            <div class="news_borbot_avtor_imhleft" style="background-image: url(https://cdn.framework7.io/placeholder/nature-1000x700-8.jpg)"></div>
                            <div class="news_borbot_avtor_1_content">
                                <h5 class="news_margin_none">Komori Fox</h5>
                                <h6 class="news_margin_none">Books, books, and books</h6>
                            </div>
                    </div>
                        <f7-button fill round class="">Round</f7-button>
                </div>
            </div>
            <f7-swiper  :params="{speed:500, slidesPerView: 2, spaceBetween: 10}">
                <f7-swiper-slide>
                    <div class="news_slider_item">
                        <div class="news_slider_itemin">
                            <div class="news_slider_itemin_img" style="background-image: url(https://cdn.framework7.io/placeholder/nature-1000x700-8.jpg)"></div>
                            <div class="news_slider_itemin_content">
                                <div class="news_slider_itemin_content_left">
                                    <h5 class="no-margin">Ozma of Oz</h5>
                                    <h6 class="no-margin">Book</h6>
                                </div>
                                <h6 class="no-margin">$95</h6>
                            </div>
                        </div>
                    </div>
                </f7-swiper-slide>
                <f7-swiper-slide>
                    <div class="news_slider_item">
                        <div class="news_slider_itemin">
                            <div class="news_slider_itemin_img" style="background-image: url(https://cdn.framework7.io/placeholder/nature-1000x700-8.jpg)"></div>
                            <div class="news_slider_itemin_content">
                                    <div class="news_slider_itemin_content_left">
                                        <h5 class="no-margin">Ozma of Oz</h5>
                                        <h6 class="no-margin">Book</h6>
                                    </div>
                                    <h6 class="no-margin">$95</h6>
                            </div>
                        </div>
                    </div>
                </f7-swiper-slide>
                <f7-swiper-slide>
                    <div class="news_slider_item">
                        <div class="news_slider_itemin">
                            <div class="news_slider_itemin_img" style="background-image: url(https://cdn.framework7.io/placeholder/nature-1000x700-8.jpg)"></div>
                            <div class="news_slider_itemin_content">
                                <div class="news_slider_itemin_content_left">
                                    <h5 class="no-margin">Ozma of Oz</h5>
                                    <h6 class="no-margin">Book</h6>
                                </div>
                                <h6 class="no-margin">$95</h6>
                            </div>
                        </div>
                    </div>
                </f7-swiper-slide>
                </f7-swiper>
            </f7-block>
        <f7-toolbar tabbar bottom-md class="not-overflow">
            <footer-section active="news"></footer-section>
        </f7-toolbar>
    </f7-page>
</template>
<script>
    import HeaderSection from './../components/header'
    import FooterSection from './../components/footer'
    export default {
        data() {
            return {
                isBottom: false,
            };
        },
        components:{
            HeaderSection,
            FooterSection
        }
    }
</script>
<style scoped>
    .new_img_cover{
        height: 200px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 4px;
    }
    .news_borbot{
        padding-bottom: 20px;
        border-bottom: 1px solid #999;
    }
    .news_borbot_avtor_1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }
    .news_borbot_avtor_imhleft{
        width: 64px;
        height: 64px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 4px;
        margin-right: 10px;
        flex: 0 0 auto;
        }
        .news_borbot_avtor_1_lef{
            display: flex;
            align-items: center;
        }
        .news_margin_none{
            margin: 0;
        }
    .news_slider_itemin_img{
        width: 100%;
        height: 150px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 4px; 
    }
    .news_slider_itemin_content{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 20px 0 30px 0;
    }
</style>

