<template>
    <f7-page>
        <f7-block class="map">

            <gmap-map
                    :center="{ lat: 45.508, lng: -73.587 }"
                    :zoom="12"
                    style="width:100%;  height: 400px;"
            >

            </gmap-map>
        </f7-block>
        <f7-block class="address">
            <div class="search_header">
                <h2>Our shops</h2>
            <f7-searchbar class="no-margin"
                    search-container=".search-list"
                    search-in=".item-title"
                    :disable-button="false"
            ></f7-searchbar>
            </div>
        </f7-block>
        <f7-block>
            <h3>Xindian</h3>
            <div class="news_borbot_avtor_1 news_borbot_avtor_1_searchbotbot">
                <div class="news_borbot_avtor_1_lef">
                    <div class="search_icons">
                        <f7-icon  color = "black" f7="layers_alt_fill"></f7-icon>
                    </div>
                    <div class="news_borbot_avtor_1_content">
                        <h5 class="no-margin">Komori Fox</h5>
                        <h6 class="no-margin">Books, books, and books</h6>
                    </div>
                </div>
                <h5>100 km</h5>
            </div>
            <div class="news_borbot_avtor_1 news_borbot_avtor_1_searchbotbot">
                <div class="news_borbot_avtor_1_lef">
                    <div class="search_icons">
                        <f7-icon  color = "black" f7="layers_alt_fill"></f7-icon>
                    </div>
                    <div class="news_borbot_avtor_1_content">
                        <h5 class="no-margin">Komori Fox</h5>
                        <h6 class="no-margin">Books, books, and books</h6>
                    </div>
                </div>
                <h5>100 km</h5>
            </div>
            <div class="news_borbot_avtor_1 news_borbot_avtor_1_searchbotbot">
                <div class="news_borbot_avtor_1_lef">
                    <div class="search_icons">
                        <f7-icon  color = "black" f7="layers_alt_fill"></f7-icon>
                    </div>
                    <div class="news_borbot_avtor_1_content">
                        <h5 class="no-margin">Komori Fox</h5>
                        <h6 class="no-margin">Books, books, and books</h6>
                    </div>
                </div>
                <h5>100 km</h5>
            </div>
        </f7-block>
        <f7-toolbar tabbar bottom-md class="not-overflow">
            <footer-section active="store"></footer-section>
        </f7-toolbar>
    </f7-page>
</template>
<script>
    import HeaderSection from './../components/header'
    import FooterSection from './../components/footer'
    export default {
        data() {
            return {
                isBottom: false,
            };
        },
        components:{
            HeaderSection,
            FooterSection
        }
    }
</script>
<style scoped>
    .md .map, .ios .map{
        /*height: 60%;*/
        background: blue;
    }
    .md .block.map, .ios .block.map{
        margin: 0;
        padding: 0
    }

    .md .address.block, .ios .address.block{
        margin: -21px 0px;
        padding: 0 15px;
        color: #6d6d72;
        z-index: 10;
        background: #fff;
        border-radius: 22px 24px;
    }
.search_header{
    padding: 20px 0;
}
    .news_borbot_avtor_1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }

    .news_borbot_avtor_1_lef{
        display: flex;
        align-items: center;
    }
    .search_icons{
        display: flex;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-self: auto;
        margin-right: 10px;
    }
    .news_borbot_avtor_1_searchbotbot{
        border-bottom: 1px solid #999;
    }
</style>
