<template>
    <f7-navbar  color-theme = "gray" class="footer">

        <f7-link :animate="false" href="/" :tab-link-active="true" :class="active == 'home' ? 'active' : null ">
            <f7-icon  color = "black" class="ln_foter_icons" f7="home" ></f7-icon>
            <div class='footer-item'>Home</div>
        </f7-link>
        <f7-link :animate="false" href="/shop" :class="active == 'shop' ? 'active' : null ">
            <f7-icon  color = "black" f7="search"></f7-icon>
            <div  class='footer-item'>Shop</div>
        </f7-link>
        <f7-link :animate="false" href="/account" :class="active == 'account' ? 'active' : null ">
            <f7-icon  color = "black" f7="person_round"></f7-icon>
            <div class='footer-item'>Account</div>
        </f7-link>
        <f7-link :animate="false" href="/news" :class="active == 'news' ? 'active' : null ">
            <f7-icon  color = "black" f7="world_fill"></f7-icon>
            <div class='footer-item'>News</div>
        </f7-link>
        <f7-link :animate="false" href="/store"  :class="active == 'store' ? 'active' : null ">
            <f7-icon  color = "black" f7="layers_alt_fill"></f7-icon>
            <div class='footer-item'>Store</div>
        </f7-link>
    </f7-navbar>

</template>

<script>
    export default {
        name: "footer",
        props: {
            active: {
                type: String,
                default: "home"
            }
        },
        created() {
            console.log(this.active);
        }
    }
</script>

<style scoped>
    .footer-item{
        font-size: 10px;
        line-height: 1.6;
        color: #fff;
    }

</style>

<style>
    .md .ln_innerClass {
        overflow: unset;
    }
    .md .not-overflow .toolbar-inner{
        overflow: unset;
    }
    .footer .active .footer-item{
        color: #0099FF;
    }
    .md .footer .active .icon.color-black{
       color: #0099FF;
    }
    .md .footer .icon.color-black{
      color: #fff;
    }
</style>
